<IfModule mod_rewrite.c>
    RewriteEngine On

    RewriteBase /CN_Module_C/

    # Send Requests To Front Controller...
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^ index.html [L]
</IfModule>
