@import 'tailwindcss';

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@theme {
    --font-sans: 'Instrument Sans', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
    'Segoe UI Symbol', 'Noto Color Emoji';
}


/*init css*/
.layout {
    max-width: 1440px;
    width: 100%;
    margin: 0 auto;
    padding: 0 10px;
}

h1, h2, h3 {
    @apply font-semibold;
}

h1 {
    font-size: 32px;
}

h2 {
    font-size: 24px;
}

h3 {
    font-size: 18px;
}


.btn, button {
    @apply rounded-xl px-4 py-2  cursor-pointer duration-300;
}


.primary {
    @apply text-white bg-blue-500 hover:bg-blue-600;
}


/*table*/
.table {
    width: 100%;
    @apply overflow-hidden border border-slate-200 rounded-2xl;
}

table {
    width: 100%;
}


table td, table th {
    @apply px-4 py-2 text-start;
}


table thead {
    @apply bg-slate-200;
}


table tbody tr:not(:last-child) {
    @apply border-b border-slate-200 hover:bg-slate-100;
}
